.bars {
  display: inline-grid;
  vertical-align: bottom;
  text-align: center
}

#destination {
  height: 400px;
  margin-top: 30px;
  border: 0.3mm solid lightslategray;
}

.bar-spaces {
  display: inline-block;
}

.label-values {
  writing-mode: vertical-lr;
  transform: rotate(180deg)
}

#bars {
  border-left: 0.3mm solid lightslategray;
  border-bottom: 0.3mm solid lightslategray;
}
